/* index */
.bg {
    position: fixed;
    background-image: url("img/bg.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(50, 50, 50, 0.8);
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.8);
}

.content {
    display: flex;
    justify-content: center;
}

.index {
    position: fixed;
    width: 18%;
    height: 600px;
    top: 60px;
    left: 1%;
    background-color: rgba(40, 40, 40, 0.8);
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.8);
    font-size: 20px;
}

.article {
    position: relative;
    width: 60%;
    height: 2000px;
    top: 10px;
    background-color: rgba(40, 40, 40, 0.8);
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.8);
}

/* logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 100%;
    position: absolute;
    left: 10px;
}

.logo_img {
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: 0.3s;
}

.logo_img:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.logo_img:active {
    transform: scale(0.9);
}


.logo_text {
    position: relative;
    left: 5px;
    font-family: "JetBrains Mono", "JetBrains Sans", "Microsoft YaHei Mono", "Microsoft YaHei";
    font-size: 20px;
    color:rgb(180, 180, 180);
    text-decoration: none;
    transition: 0.2s;
}

.logo_text:hover {
    color:rgb(240, 240, 240);
}

.index_title {
    position: relative;
    width: 100%;
    height: 30px;
    font-size: 20px;
    background-color: rgba(0, 110, 255, 0.9);
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.8);
}

.index_button {
    display: flex;
    align-items: center;
    color: rgb(220, 220, 220);
    background-color: transparent;
    width: 100%;
    height: 30px;
    border-width: 0;
    text-align: left;
    font-family: "JetBrains Mono", "JetBrains Sans", "Microsoft YaHei Mono", "Microsoft YaHei";
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s;
}

.index_button:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

.index_button:active {
    background-color: rgba(50, 50, 50, 0.5);
}




/*
.imgbox {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
}

.imgbox_img {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("res/img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
*/